<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>dawiki</title>
    <meta name="description" content="dawiki description">
    <link rel="stylesheet" href="/static/index.css">

    <!-- See https://goo.gl/OOhYW5 -->
    <link rel="manifest" href="../manifest.json">

    <script src="/dawiki-wiki/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <link rel="import" href="/dawiki-wiki/src/dawiki-wiki/dawiki-wiki.html">
    <link rel="import" href="/dawiki-wiki/src/dawiki-head/dawiki-head.html">
  </head>
  <body>
    <dawiki-head project="<%= project_name %>"></dawiki-head>
    <dawiki-wiki id="wiki" pagetitle="<%= page_title %>"></dawiki-wiki>

    <script>
      var [projectName, title] = wiki.initWikiPage();
      wiki.fetchPage(projectName, title, data => {
        console.log(data)
        if (data.page.title === undefined) return;
        document.querySelector('#wiki').lines = data.page.lines
      })
    </script>
  </body>
</html>
